@import "../../../styles/colors.scss";

/* First card remains the same */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $backgroundBlack;
    padding: 100px 0px;
    overflow-x: hidden;
  }

  .top-card {
    margin-top: 100vh;
    border-top: solid 2px $mainGold;
  }
  
  .card {
    display: flex;
    opacity: 0;
    width: 80%; /* Takes up 80% of the screen width */
    background-color: $cardBackgroundGray;
    border: solid 2px white;
    overflow: hidden;
    box-shadow: 5px 5px $shadowGold; /* Adds a subtle shadow */
    padding: 80px 30px 80px 30px;
  }

  /* .contact-card {
    padding-top: 400px;
  } */

  .timer {
    position: absolute;
    top: 180vh;
    
  }

  .timer-cover {
    position: absolute;
    top: 211vh;
    background: $cardBackgroundGray;
    width: 100vw;
    height: 5vh;
    z-index: 5;
  }
  
  .card-left, .card-right {
    padding: 20px;
  }
  
  .card-left {
    flex: 1;
    color: $mainGold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  
  .card-right {
    flex: 2;
    color: $textWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;

    p {
      margin: 0;
      font-size: 1.2rem;
      padding-left: 30px;
      border-left: solid 1px white;
    }
  }
  
  /* Second card */
  .second-card {
    width: 80%; /* This card is slightly less wide */
    text-align: center;

    .card-left {
      flex: 1; /* 50% of the card */
      display: block; /* Vertically stacked elements */
      color: $mainGold;

      h2 {
          margin-bottom: 15px;
      }

      p {
          margin: 5px 0;
          font-size: 1.2rem;
          color: $textWhite;
      }
    }

    .card-right {
        flex: 1; /* 50% of the card */
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  
  .contact-image {
    max-width: 80%; /* Image takes up 80% of the right side with padding around it */
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a; /* Adds a shadow around the image */
  }

  p a {
    text-decoration: none;
    color: white;

    :link {
      color: white;
    }

    :active {
      color: white;
    }

    :visited {
      color: white;
    }
  }
  
  /* Media Query for screens smaller than 768px (e.g., mobile devices) */
  @media (max-width: 768px) {
    .card {
      flex-direction: column; /* Stack the card vertically */
      padding: 40px 20px; /* Reduce padding for smaller screens */
    }
  
    .card-right, .card-left {
      flex: unset; /* Remove flex-grow, make both sides equal height */
      text-align: center; /* Center text for better mobile appearance */
    }
  
    .card-right p {
      padding-left: 0; /* Remove left padding on mobile */
      border-left: none; /* Remove border on mobile */
    }
  
    .second-card {
      width: 90%; /* Make the second card take more width */
    }
  
    .second-card .card-left {
      text-align: center;
    }
  
    .contact-image {
      max-width: 100%; /* Ensure the image takes the full width of the container */
    }
  }
  