<app-navbar></app-navbar>

<!--hero image-->
<div class="ev-history-banner" appParallaxMousemove>
    <div class="ev-history-text">
      <h1>Our History</h1>
    </div>
</div>

<!--history card-->
<div class="card-container">
    <div class="ev-history-card">
        <p>
            Mizzou Electric Racing, previously known as Mizzou Eco Racing, has been a university organization since 1993. 
            During its tenure, the Eco Racing team was involved in building solar cars, hydrogen cars, and an electric 
            conversion of a Chevy S10.<br><br>Mizzou Eco Racing's Solar Car Team competed annually in the American Solar Challenge, also known as 
            “Sunrayce,” where cars raced from Chicago to Los Angeles over a 10-day period. Mizzou Eco Racing transitioned to 
            building hydrogen cars in 2011, competing in the Shell Eco-Marathon from 2011 to 2018. In 2017, Mizzou Eco Racing's Electric Car Team successfully 
            converted a Chevy S10 into an electric vehicle.<br><br>In 2022, Mizzou Eco Racing became Mizzou Electric Racing. Together 
            with Mizzou Racing, we moved from the basement of Naka Hall into a new shop in Lafferre Hall. In the same year, we 
            began the joint manufacturing of Mizzou’s very first Formula SAE Electric Vehicle.<br><br>Below you can find every car we have made so far, clicking on each will reveal more infomation about that season.
        </p>
    </div>
</div>
  
<app-ev-history-list></app-ev-history-list>

<app-footer></app-footer>
  
