<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Electronics</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        The Electronics Team is responsible for the design, manufacturing, 
        testing, and integration of all electronic modules across the internal 
        combustion and electric cars. An in-house custom wiring harness connects 
        modules such as a MoTeC M150 ECU, custom Power Distribution Module, 
        custom Wireless Live Telemetry, and custom Dashboard, among other 
        components. The electrical components on each car provide necessary control 
        systems for cooling, ignition, fuel, shifting, power limiting, and data 
        acquisition. 
      </p>
    </div>
</div>


<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/electronics/electronics1.jpg" alt="Electronics work 1">
    <img src="../../assets/brakes-and-controls/brakes4.jpg" alt="Electronics work 2">
    <img src="../../assets/electronics/leahLaurenWorking.jpg" alt="Electronics work 3">
    <img src="../../assets/electronics/electronics4.jpg" alt="Electronics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Low Voltage Lead: Leah Schatz</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotLeah.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Leah is a junior Electrical Engineering major. She joined the 
            team in the fall of 2024 and has been a major player for the 
            electrical side of the team since. Leah has led projects such as
            car &#35;115's harness and our custom lap timer.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“Seven zip ties and a dream...”</h1>
  <p>- Leah Schatz</p>
</div>

<div class="middle-banner">
  <div class="aero-text-two">
    <h1>High Voltage</h1>
  </div>
</div>

<div class="aero-card-container second-container">
  <div class="aero-card aero-card-two">
    <h3>What We Do...</h3>
    <p>
      The High Voltage team is responsible for the EV powertrain 
      and supporting electronics. The EV powertrain consists of 
      an Accumulator-the system’s high voltage battery pack, the 
      Traction Inverter, and the Drive Motor. The Accumulator stores 
      7.249kWh of energy at 480V, while being able to source 315A of 
      DC current, all from 18650 Li-Ion cells. While competition limits 
      us to 80kW, our system can provide up to 110kW - 147HP and 170 
      lb-ft of torque at the motor. 
    </p>
  </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid aero-image-grid-two">
    <img src="../../assets/electronics/high-voltage1.jpg" alt="High Voltage work 1">
    <img src="../../assets/electronics/high-voltage2.jpg" alt="High Voltage work 2">
    <img src="../../assets/electronics/high-voltage-banner.jpg" alt="High Voltage work 3">
    <img src="../../assets/electronics/high-voltage4.jpg" alt="High Voltage work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card aero-card-three">
      <h3>High Voltage Lead: Anshu Gilliyaru</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotAnshu.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Anshu is a senior electrical engineering student and 
            Chief Electrical Engineer for Mizzou Racing. He joined 
            the team in the fall of 2023 and is a key member in the
            IC and EV builds. Anshu's main goal for the season is to 
            complete the redesign for our EV's Accumulator.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“It’s DEFINITELY a mechanical issue.”</h1>
  <p>- Anshu Gilliyaru</p>
</div>


<app-footer></app-footer>