@import "../styles/colors.scss";

/* EV Competition Banner Styles */
.ev-competition-banner {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

/* EV Competition Text Section */
.ev-competition-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: $mainGold;
    }

    p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: $textWhite;
    }
}

/* Competition Days Section */
.competition-days-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  background-color: $cardBackgroundGray;
}

.competition-day {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  background-color: $cardBackgroundGray;
  color: #fff;
}

/* Competition Day Image Styling */
.competition-day-image {
    flex: 1;
    max-width: 500px;

    img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: solid 2px white;
    }
}

/* Competition Day Content Styling */
.competition-day-content {
    flex: 3;
    padding: 20px;

    h3 {
    font-size: 1.8rem;
    color: $mainGold;
    margin-bottom: 10px;
    }

    h4 {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 10px;
    }

    p {
    font-size: 1.2rem;
    color: $textWhite;
    line-height: 1.6;
    }
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
  .competition-day {
      flex-direction: column;
      align-items: flex-start;
  }

  .competition-day-image {
      width: 300px;
      margin-bottom: 20px;
  }
}
