<p>log-finance works!</p>
<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Logistics and Finance</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        We keep the team running. Ensuring deadlines are hit 
        and budgets are balanced. The ability to make it to 
        competition each year necessitates organization, fiscal 
        responsibility, and communication. Nobody wants to maintain 
        the spreadsheets... but someone has to. 
      </p>
    </div>
</div>


<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/log-finance/BenDesign.jpg" alt="log-finance work 1">
    <img src="../../assets/log-finance/log2.png" alt="log-finance work 2">
    <img src="../../assets/log-finance/log3.png" alt="log-finance work 3">
    <img src="../../assets/log-finance/JuneDesignpres.jpg" alt="log-finance work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>President: Lauren Millard</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotLauren.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Lauren is a senior Electrical Engineering and Computer Engineering student. 
            She joined the team in the Fall 2023 after seeing the team during a college 
            tour the year before. Lauren was our team’s treasurer in 2025/2026 season. 
            As president Lauren organizes the team, communicates with our donors, runs 
            our meetings, helps organize travel to our events and much more.
            <!--Lauren is also our team's low voltage lead and her primary goal for the year is to not die.-->
        </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“Its definitely a software issue.”</h1>
  <p>- Lauren Millard</p>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card aero-card-two">
      <h3>Treasurer: Max Pedreros</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotMax.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Max is a junior Mechanical Engineering and Economics student.
            He joined the team in the Fall 2024.
            Since joining Max has help manufacture many parts of our 
            cars and designed car &#35;115's ergonomic steering wheel.
            As treasurer Max manages the budget, tracks team spending, works on merch 
            and helps the president organize travel to our events. He also is our team's 
            Driver Interface lead.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“Crashing is suboptimal.”</h1>
  <p>- Max Pedreros</p>
</div>



<app-footer></app-footer>