<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Driver Interface</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        This subsystem encompasses brakes, controls, & ergonomics. We use Wilwood brake 
        calipers with laser cut rotors. Our steering wheel has paddle shifters for sequential 
        pneumatic shifting. Cockpit design is a new goal for this season, specifically making 
        it more adjustable for each driver. We currently have an adjustable pedal chassis with 
        carbon fiber foot cups.
      </p>
    </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/brakes-and-controls/brakes1.jpg" alt="Aerodynamics work 1">
    <img src="../../assets/brakes-and-controls/brakes2.jpg" alt="Aerodynamics work 2">
    <img src="../../assets/brakes-and-controls/brakes3.jpg" alt="Aerodynamics work 3">
    <img src="../../assets/brakes-and-controls/brakes4.jpg" alt="Aerodynamics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Driver Interface Lead: Max Pedreros</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotMax.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Max is a junior Mechanical Engineering and Economics student.
            He joined the team in the Fall 2024.
            Since joining Max has help manufacture many parts of our 
            cars and designed car &#35;115's ergonomic steering wheel.
            Max is also is our team's current treasurer.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“Crashing is suboptimal.”</h1>
  <p>- Max Pedreros</p>
</div>

<app-footer></app-footer>
  
  
  
  
  