<app-navbar></app-navbar>

<div class="ev-competition-banner">
    <div class="ev-competition-text">
      <h1>Formula SAE</h1>
      <p>
        "The Formula SAE competitions challenge teams of university undergraduate and graduate students 
        to conceive, design, fabricate, develop and compete with small, formula style vehicles. The 
        competition is an engineering education competition that requires performance demonstration of 
        vehicles in a series of events, both off track and on track against the clock. Each competition gives 
        teams the chance to demonstrate their creativity and engineering skills in comparison to teams from other 
        universities around the world."
      </p>
    </div>
</div>

<div class="competition-days-section">
    <!-- Day 1 -->
    <div class="competition-day">
      <div class="competition-day-image">
        <img src="../../assets/ic-comp/DSC00541.jpg" alt="Day 1 Image">
      </div>
      <div class="competition-day-content">
        <h3>Day 1</h3>
        <h4>Technical Inspection</h4>
        <p>
            Every year FSAE releases rules that every team must follow. These rules dictate how each car is built, 
            but every team has its own unique design. The car goes through a rigorous technical inspection performed 
            by industry professionals. This is where we earn our first nose cone sticker.
        </p>
      </div>
    </div>
  
    <!-- Day 2 -->
    <div class="competition-day">
      <div class="competition-day-image">
        <img src="../../assets/ic-comp/DSC00701.jpg" alt="Day 2 Image">
      </div>
      <div class="competition-day-content">
        <h3>Day 2</h3>
        <h4>Static Events</h4>
        <p>
            After passing technical inspection, we must earn three more stickers: tilt, noise, and brakes. The car heads to 
            the fuel station and then goes up on the lift. With a driver sitting in the car, it is tilted up to 45 and then 60 degrees. 
            Industry professionals are checking for any leaks from the car and if it is safe for the driver. Noise testing is 
            when judges will check that our car does not exceed 110 db. The car then heads to brake testing. A driver will fully 
            accelerate and then lock all four tires without the car turning off. After receiving all stickers for these events, 
            we get to drive!<br><br>Our design and business presentations also happen during these static events. Our team leads 
            present their designs of the car to industry professionals and are ranked on a multitude of criteria. We also present our 
            business presentation during this time.

        </p>
      </div>
    </div>
  
    <!-- Day 3 -->
    <div class="competition-day">
      <div class="competition-day-image">
        <img src="../../assets/ic-comp/MayBrakes.jpg" alt="Day 3 Image">
      </div>
      <div class="competition-day-content">
        <h3>Day 3</h3>
        <h4>Dynamic Events</h4>
        <p>
            This is when the driving begins! Drivers compete in three different driving events. Acceleration is similar to a drag race. Skidpad is a 
            figure eight testing the car’s suspension capabilities. Autocross follows, this event qualifies teams for a starting position in Endurance.  
            Each event has two drivers per team, and each driver gets two runs. This day is action-packed and when all the hard work pays off!
        </p>
      </div>
    </div>
  
    <!-- Day 4 -->
    <div class="competition-day">
      <div class="competition-day-image">
        <img src="../../assets/ic-comp/MayEndurance2.jpg" alt="Day 4 Image">
      </div>
      <div class="competition-day-content">
        <h3>Day 4</h3>
        <h4>Endurance</h4>
        <p>
            The endurance event takes the entirety of the final day. Two drivers compete on the longest course of the competition. Essentially a larger version of 
            autocross, endurance tests for fuel efficiency as well as how well the car can run. After endurance, cars are tested for how much fuel they used.
        </p>
      </div>
    </div>
</div>

<app-footer></app-footer>
  
  