<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove></div>

<div class="aero-text">
  <h1>How to Give</h1>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3 class="overviewText">What To Do...</h3>

      <div class="card-left">
        <p>If you are interested in donating to Mizzou Racing,</p>

          <ol>
            <li>Gifts intended for Mizzou Racing must be made to the College of Engineering page <a href="https://formizzou.missouri.edu/campaigns/64319/donations/new" target="_blank">here</a></li>

            <li>Under "Designation" make sure that "Engineering Dean's Fund for Excellence" is listed</li>

            <li>Fill in all other information on the form and check out when you are ready</li>

            <li>Email Mizzou Racing at <a href="mailto:sae@missouri.edu">sae&#64;missouri.edu</a>, Ashley Simmons at <a href="mailto:simmonsar@missouri.edu">simmonsar&#64;missouri.edu</a>, or Melissa Amos-landgraf at <a href="mailto:mamos-landgraf@missouri.edu">mamos-landgraf&#64;missouri.edu</a> with the following information:<span class="starColor">*</span>
              <ol id="inner-ordered-list">
                <li>Your Name</li>

                <li>Total Gift Amount</li>

                <li>Amount of gift to designate for Mizzou Racing</li>
              </ol>

            </li>
          </ol>

          <p>
            Alternatively, checks can be made out as payable to "The University of Missouri" with the memo line "Engineering Dean's Fund for Excellence". Then, a check stub or separate note must also be included which designates the amount to Mizzou Racing or other College of Engineering entities as you wish.
          </p>
          <br>
          <p class="addendumText"><span class="starColor">*</span>This step is necessary to ensure the funds reach Mizzou Racing</p>
      </div>

      <div class="card-right">
        <img src="../../../assets/home/MMTruman1.jpg" alt="Contact Image" class="contact-image">
      </div>
    </div>
</div>


<app-footer></app-footer>