<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Powertrain</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        We run a Honda CBR600RR engine. Our Powertrain/Drivetrain 
        system contains a custom intake, exhaust, fuel cell, dry 
        sump oil system, and pneumatic shifting system. Our team 
        designs and manufactures all of these components in house. 
        We test and tune the various components on our chassis 
        dynamometer, as well as on track. 
      </p>
    </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/powertrain/power1.jpg" alt="Powertrain work 1">
    <img src="../../assets/powertrain/powertrain3.jpg" alt="Powertrain work 2">
    <img src="../../assets/powertrain/powertrain1.jpg" alt="Powertrain work 3">
    <img src="../../assets/powertrain/power4.jpg" alt="Powertrain work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Josh Gephardt</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotJosh.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Josh is a senior Mechanical Engineering student and joined 
            the team in the Spring of 2024. He a member of our 
            welding team, fabricates suspension and powertrain/drivetrain components.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>"Oh yeah!"</h1>
  <p>- Josh Gephardt</p>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card aero-card-two">
      <h3>Tractive System Lead: Eli Davis</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotEli.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Eli is a junior Mechanical Engineering and joined the team in 
            the Fall 2024. Since joining Eli has help manufacture many parts 
            of our cars and has been a key player in the development our next EV.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“Don't quote me on that.”</h1>
  <p>- Eli Davis</p>
</div>

<app-footer></app-footer>
  
  
  
  
  