<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove></div>

<div class="aero-text">
  <h1>Aerodynamics</h1>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        The subsystem works to design and manufacture aerodynamic components 
        for the racecar. With the help of our sponsors, we can manufacture 
        our aerodynamic package completely in house. The package creates a 
        downforce on the tires and in turn alters the maximum frictional 
        force the car’s tires can generate. Components include front and 
        rear wings, an undertray, nosecone, and sidepods.
      </p>
    </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/aerodynamics/aero1.jpg" alt="Aerodynamics work 1">
    <img src="../../assets/aerodynamics/aero2.jpg" alt="Aerodynamics work 2">
    <img src="../../assets/aerodynamics/aero3.jpg" alt="Aerodynamics work 3">
    <img src="../../assets/aerodynamics/MayStickers.jpg" alt="Aerodynamics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Leo Daniel</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/headshots/HeadshotLeo.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Leo is a senior mechanical engineering major. Joining the team in 
            Fall 2025 he has dedicated his time to designing, validating, and 
            manufacturing the car's aerodynamic package. In addition to being a 
            core contributer to the manufacturing of car &#35;115's aero package, 
            Leo has also done design work for parts like car &#35;115's sidepods. 
            Leo's main goals for the year is redesigning the front wing and 
            bringing aero balance to 60/40 &#64; 35mph.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>"Me and Star CCM are in an abusive relationship.”</h1>
  <p>- Leo Daniel</p>
</div>

<app-footer></app-footer>